#model-janela-addSemestre {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-addSemestre {
    display: none;
}

.abrir {
    display: flex;
}


#formulario-model-addSemestre {
    background-color: white;
    width: 50%;
    min-height: 80%;
    padding: 20px;
    border-radius: 2px;
}

#formulario-model-addSemestre input[type="text"], select {
    border: 1px solid rgba(0, 0, 0, 0.322);
    width: 100%;
    border-radius: 2px;
}

#formulario-model-addSemestre label {
    display: block;
}

#formulario-model-addSemestre input[type="radio"] {
    width: 10px;
}

#formulario-model-addSemestre form {
    margin: auto;
    width: 80%;
    margin-top: 20px;

}

#conteinar-radios {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#conteiner-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-model-form-addSemestre {
    width: 30%;
    height: 30%;
    margin: 5px;
    padding: 5px;
    
}
#model-janela-addSemestre.abrir {
    animation: abrirmodal;
    display: flex;
    animation-name: abrirmodal;
    animation-duration: 6s;
}

@keyframes abrirmodal {
    form{
        opacity: 0;
}
    to{
        opacity: 1;
        
    }
}


/* CSS DO MODEL DE ADICIONAR DISCIPLINAS  */


#model-addDisciplinas {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.363);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

#model-addDisciplinas form {
    background-color: white;
    height: 50%;
    width: 50%;
    padding: 20px;
}

#model-addDisciplinas.abrir {
    display: flex;
}



