@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&family=Rubik:wght@300;400;500&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, regular400;
}

/* header, main, nav {

} */

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: black;
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 1;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
}

main {
    flex-grow: 20;
    flex-basis: 200px;
    flex-shrink: 1;
    background-color: #d8d7d7;
    min-height: 100vh;
    width: 100vw;
}

#conteiner-menu-button {
    display: flex;
    justify-content: end;
    
}

.button-padrao {
    text-decoration: none;
    color: white;
    width: 100px;
    height: 35px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

#botao-enviar {
    color: white;
}

#conteiner-conteudo {
    padding: 20px;
}

#select-dicplinas-periodo {
    height: 20px;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0.5px 0px 1.5px rgba(0, 0, 0, 0.226);
    
    
    
}

th {
    background-color: #9e9e9e;
    text-align: left;
}

table tr:nth-child(odd) {
    background-color: #e6e6e6;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

td, th {
    padding: 20px;
}

/* .colum-1 {
    
}

.colum-2 {
    
} */

.colum-3, .colum-4 {
    width: 15%;
}

.color-red {
    background-color: crimson;
}

.color-verde {
    background-color: green;
}

.color-roxo {
    background-color: blueviolet;
}

.color-cinza {
    background-color: #9e9e9e;
}

nav {
    background-color: #424242;
    flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 1;
    position: relative;
}

#box-user {
    background-color: #9e9e9e;
    font-size: 12px;
    width: 90%;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#link-sair {
    color: crimson;
}

/* ul {

} */

li {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 20px;
}

li a:hover {
    color: green;
    transition: 0.5s;
}

li a {
    text-decoration: none;
    color: white;
}

#marcador {
    padding: 3px;
    border-radius: 150px;
    color: white;
    font-size: 13px;
}

i {
    font-size: 13px;
}

#formularios-addSemestre {
    height: 90vh;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    background-color: #9e9e9e;
}

#form-add-semestre {
    width: 60%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#form-add-semestre #input-semestre, select{
   margin-bottom: 20px;
   width: 80%;
   padding: 5px;
   border-radius: 5px;
   border: none;
}

#form-add-semestre .label-input-text {
    display: block;
    width: 80%;
}


#form-add-semestre a {
    font-size: 13px;
    width: 80%;
    text-decoration: none;
}

#button-enviar-addSemestre {
    width: 80%;
    background-color: green;
    border: none;
    height: 30px;
    border-radius: 150px;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
}

#button-enviar-addSemestre:hover {
    background-color: darkgreen;
}

#form-add-semestre a:hover {
    color: green;
}

#select-disciplinas-addSemestre {
    margin-bottom: 0px;
}

#form-add-semestre div {
    margin: 0px;

    
}



#form-login {
    display: flex;
    flex-direction: column;
    width: 60%;
}


#id_disciplinas {
    display: none;
}

#disciplinas-mostrar-select {
    font-size: 12px;
    text-decoration: none;
}

#coteiner-login {
    width: 100vw;
    height: calc(100vh - 71px);
    display: flex;
    justify-content: end;
    align-items: center;
    
}

#box-login {
    min-width: 30vw;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    border-radius: 5px;
}

#box-login  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#box-login .input-login {
    background-color: rgb(230, 249, 255);
    border: 2px solid rgba(0, 0, 0, 0.308);
    margin: 2px;
    outline: none;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#box-login form {
    width: 100%;
    height: 100%;
}

#button-login {
    background-color: darkgreen;
    color: #ffffff;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 100px;
    border: 0px;
    cursor: pointer;
}

#button-login:hover {
    background-color: green;
}

#login-body {
    display: block;
}

#login-header {
    padding: 20px;
    color: #424242bb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

#box-login label {
    margin: 0px;
    font-size: 14px;
}

.icon-login {
    font-size: 20px;
    color: #424242;
}

#h3-IFMT {
    color: green;
}

.teste {
    color: darkgreen;
}

.disciplinas-celula {
    background-color: green;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 150px;
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
    margin: 1px;
}

.table-professor-coluna-disciplinas {
    max-width: 100px;
}






