{% extends "base.html" %}

{% block conteudo %}

<div id="formularios">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <label for="{{ field.id_for_label }}">{{field.label}}</label>
        {{field}}
        {% endfor %}
       <label for="periodos">Disciplinas</label>
       <select name="periodos" id="select-dicplinas-periodo">
        <option value="par">Priodos pares</option>
        <option value="impar">Priodos impares</option>
       </select>
       <input type="submit" value="Enviar" id="botao-enviar" class="color-verde">
</form>
</div>
{% endblock conteudo %}