{% extends "base.html" %}

{% block conteudo %}

<div id="formularios-addSemestre">
<form method="post" id="form-add-semestre">
    {% csrf_token %}
    <label for="input-semestre" class="label-input-text">Semestre</label>
    <input type="text" name="semestre" id="input-semestre">
    <label for="select-cursos-addSemestre" class="label-input-text">curos</label>
    <select name="curos" id="select-cursos-addSemestre" multiple>
        <option value="curso1">curo1</option>
    </select>
    <label for="select-disciplinas-addSemestre" class="label-input-text">Disciplinas</label>
    <select name="disciplinas" id="select-disciplinas-addSemestre" multiple>
        <option value="materia 1">materia 1</option>
        <option value="materia 2">materia 2</option>
    </select>
    <select name="disciplinas" id="select-disciplinas" required>
        <option value="#">impar</option>
        <option value="#">par</option>
    </select>
    <a href="#">Escolher automáticamente</a>
    <input id="button-enviar-addSemestre" type="button" value="Enviar">
</form>
</div>
{% endblock conteudo %}