<!DOCTYPE html>
<html lang="en">
<head>
   {% include "_head.html" %}
</head>
<body>

<nav>
    <ul>
        <li><a href="{% url "semestre" %}">Semeste</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="{% url "professores" %}">Professores</a></li>
        <li><a href="/admin/">Administração</a></li>
    </nav>
    
    <main>
        <div id="conteiner-menu-button">
            <a href="#" class="button-padrao color-red">Botão 1</a>
            <a href="#" class="button-padrao color-verde">Botão 2</a>
        </div>

        <div id="conteiner-conteudo">
            {% block conteudo %}{% endblock conteudo %}
        </div>
</main>

    
</body>
</html>

