{% extends "base.html" %}


{% block conteudo %}

<table>
    <thead>
        <tr>
            <th>Curso</th>
            <th>Disciplinas</th>
            <th>Semestre</th>
        </tr>
    </thead>
    <tbody>
       {% for i in curso %}
       <tr>
            <td>
                <a href="#">{{i}}</a>
            </td>
            <td>
              <a href="#"> disciplina(as)({{i.disciplina_set.all.count}})</a> 
            </td>
            <td>
                {% for s in i.semestre_set.all %}
                {{s}}
                {% endfor %}
            </td>
       </tr>
          
       {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}