{% extends "base.html" %}


{% block conteudo %}

<h3>{{semestre}} {{disciplinas_semestre.filter.first.curso}}</h3>
{% block opcoes %}
{% for group in user.groups.all %}
            {% if group.name == 'administradores' %}
            <div class="conteiner-menu-button">
                <a href="#" class="button-padrao color-verde" onclick="mostrar_model_addSemestre('model-addDisciplinas')"><i class="bi bi-easel2-fill"></i> adicionar</a>
            </div>
            {% endif %}
        {% endfor %}


{% endblock opcoes %}

<br>
<table>
    <thead>
        <tr>
            <th>Disciplinas</th>
            <th>Período</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        
        {% for i in disciplinas_semestre %}
        <tr>
            <td>
                <a href="#">{{i}}</a>
            </td>
            <td>
                {{i.periodo}}
            </td>
            <td>
                
                    {% if grupo_admin %}
                    <button class="color-red btn-default-acao"> 
                    Remover <i class="bi bi-x-circle"></i></i>
                    </button>
                    {% else %}
                    <button class="color-verde btn-default-acao"> 
                    Candidatar <i class="bi bi-person-fill-add"></i>
                    </button>
                    {% endif %}
                
            </td>
        </tr>
        
        {% endfor %}
        {% for group in user.groups.all %}
            {% if group.name == 'administradores' %}
            {% for i in disciplinas_curso %}
            <tr>
                 <td>
                     <p> <a href="#">{{i}}</a> (excluída)</p>
                 </td>
                 <td>
                     {{i.periodo}}
                 </td>
                 <td>
                     <button class="color-verde btn-default-acao"> Adicionar <i class="bi bi-plus-circle-fill"></i></button>
                 </td>
            </tr>
               
            {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>


{% endblock conteudo %}