
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_head.html" %}
</head>
<body id="login-body">
    <div id="login-header">
        <h2>Sistem de Atribuição de Aulas</h2>
        <h2 id="h3-IFMT">IFMT</h2>
    </div>
    
    <hr>
    <div id="coteiner-login">
        <div id="box-login">
            <form method="post">
                {% csrf_token %}
       <h3><i class="bi bi-person-vcard-fill icon-login"></i>    login</h3>
       <label for="username">Usuário:</label>
    <input type="text" required class="input-login" name="username" autocomplete="off">
    <label for="password">Senha:</label>
    <input type="text" required class="input-login"name="password" autocomplete="off"> 
    <input type="submit" value="Entrar" id="button-login">
</div>
</div>
   </form>
</body>
</html>