{% extends "base.html" %}





{% block conteudo %}


{% block opcoes %}

{% for group in user.groups.all %}
            {% if group.name == 'administradores' %}
            <div class="conteiner-menu-button">
                <button type="button" class="btn-default color-verde" onclick="mostrar_model_addSemestre('janela-model')">Cadastrar novo Professor</button>
            </div> 
            {% endif %}
        {% endfor %}
{% endblock opcoes %}

<table>
    <thead>
        <tr>
            <th>Professor</th>
            <th>Matrícula</th>
            <th>E-mail</th>
            <th>Disciplinas</th>
        </tr>
    </thead>
    <tbody>
       {% for i in professor %}
       <tr>
            <td>
                <a href="#">{{i.professor.first_name}} {{i.professor.last_name}}</a>
            </td>
            <td>
                {{i.professor}}
            </td>
            <td>
                {{i.professor.email}}
            </td>
            <td class="table-professor-coluna-disciplinas">
                {% for d in i.disciplinas.all %}
                <span class="disciplinas-celula">{{d}}</span>
                {% endfor %}
                
            </td>
       </tr>
          
       {% endfor %}
    </tbody>
</table>

{% include "formularios/form_addProfessor.html" %}

{% endblock conteudo %}