{% extends "base.html" %}


{% block conteudo %}

<h3> Semestre:</h3><p>{{semestre}}</p>
<hr>
<br>
<h3>Status:</h3><p>{{semestre.status}}</p>
<hr>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Curso</th>
            <th>Disciplinas</th>
            <th>Área</th>
        </tr>
    </thead>
    <tbody>
       {% for i in semestre.cursos.all %}
       <tr>
            <td>
                <a href="{% url "disciplinas" id=i.id id2=semestre.id %}">{{i}}</a>
            </td>
            <td>
              <a href="{% url "disciplinas" id=i.id id2=semestre.id %}">({{i.disciplina_set.all.count}})</a> 
            </td>
            <td>
                <p>#</p>
            </td>
       </tr>
          
       {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}