{% extends "base.html" %}

{% block conteudo %}

{% block opcoes %}
<div id="conteiner-menu-button">
    <a href="#" class="button-padrao color-verde" onclick="mostrar_model_addSemestre()">adicionar</a>
</div> 
{% endblock opcoes %}
<table>
    <thead>
        <tr>
            <th>Semestre</th>
            <th>Status</th>
            <th>Nº Cursos</th>

        </tr>
    </thead>
    <tbody>
       {% for i in semestre %}
            <tr>
                    <td class="colum-1"><a href="{% url 'select_semestre' i.id %}">{{i}}</a></td>
                    <td class="colum-2"><span id="marcador" class="color-roxo"> {{i.status}}</span></td>
                    <td class="colum-3"><a href="#" class="button-padrao color-verde">editar</a></td>
                    
            </tr>
       {% endfor %}
    </tbody>
</table>
<div id="model-janela-addSemestre" class="modal-addSemestre">
    <div id="formulario-model-addSemestre">
        <h3>Adicionar novo semestre</h3>
    <form action="#">
        <label for="input-semestre">Semeste</label>
        <input type="text" id="input-semestre">

        <label for="select-curso">Cursos</label>
        <select name="curso" id="select-curso" multiple>
            {% for i in cursos %}
            <option value="1">{{i}}</option>
            {% endfor %}
        </select>
        <label for="select-disciplinas">Disciplinas</label>
        <select name="curso" id="select-disciplinas" multiple>
            {% for i in disciplinas %}
            <option value="1" class="{{i.periodo}}" >{{i}} - {{i.periodo}}ª período - {{i.curso}}</option>
            {% endfor %}
        </select>
        <div class="campo" id="conteinar-radios">
            <label>
                <input type="radio" name="devweb" value="Impar" checked > Ímpares
            </label>
            <label>
                <input type="radio" name="devweb" value="Pares" onclick="selecionar_pares()"> Pares
            </label>
        </div>
        <div id="conteiner-buttons">
        <input type="button" value="Salvar" class="button-model-form-addSemestre">
        <input type="button" value="Cancelar" class="button-model-form-addSemestre" onclick="fechar_model_addSemestre()">
    </div>
    </form>
</div>
</div>
{% endblock conteudo %}