{% extends "base.html" %}

{% block conteudo %}

{% block opcoes %}

{% for group in user.groups.all %}
            {% if group.name == 'administradores' %}
            <div class="conteiner-menu-button">
                <button type="button" class="btn-default color-verde" onclick="mostrar_model_addSemestre('janela-model')">Adicionar semestre</button>
            </div> 
            {% endif %}
        {% endfor %}
{% endblock opcoes %}
<table id="semestre">
    <thead>
        <tr>
            <th>Semestre</th>
            <th>Nº Cursos</th>
            <th>Status</th>
        
        </tr>
    </thead>
    <tbody>
       {% for i in semestre %}
            <tr>
                    <td class="colum-1"><a href="{% url 'select_semestre' i.id %}"><strong>{{i}}</strong></a></td>
                    <td class="colum-2">{{i.cursos.all.count}}</td>
                    <td class="colum-3"><span id="marcador" class="color-roxo"> {{i.status}}</span></td>                  
            </tr>
       {% endfor %}
    </tbody>
</table>
    
{% include "formularios/form_addSemestre.html" %}

{% endblock conteudo %}